.app {
  min-height: 100vh;
}

.header {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  margin: 24px 16px 0;
}

.content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.footer {
  text-align: center;
}
